body {
    margin-top: 10em;
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('img/font.jpg');
    background-size: cover;
    background-repeat: repeat; 
}

#info-meteo {
    margin-top: 20px;
    font-size: 18px;
}

#icone {
    margin-top: 20px;
}

#temperature {
    margin-top: 20px;
    font-size: 18px;
}

#loc {
    margin-top: 20px;
    font-size: 18px;
    
}

#cadre4{
    display: inline-block;
    border: 0px  ;
    width: 10em;
    height: 4em;
    margin: 0 ;
    text-align: unset;
    background-image: url('img/iconeloc.png');
    background-size: 2em;
    background-repeat: no-repeat;
    background-position-y: 1em;
    background-position-x: 1em;
} 

#ressenti{
    margin-top: 20px;
    font-size: 18px;
}

#humide{
    margin-top: 20px;
    font-size: 18px;
}

#cadretitre{
    border: 2px solid #333;
    border-width: 0px 0px 2px 0px;
}

#cadre1{
    border: 4px solid #333;
    border-radius: 5%;
    width: 20em;
    margin: 0 auto;
    text-align: center;
}

#petitcadre{

    display: flex;
    margin-top: 2em;
}

#cadre2{
    display: inline-block;
    border: 2px solid #333;
    
    border-width: 4px 2px 0px 0px;
    width: 10em;
    height: 4em;
    margin: 0 ;
    text-align: unset;
    background-image: url('img/iconeter.jpg');
    background-size: 2em;
    background-repeat: no-repeat;
    background-position-y: 1em;
    background-position-x: 1em;
}

#cadre3{
    display: inline-block;
    border: 2px solid #333;
    
    border-width: 4px 0px 0px 2px;
    width: 10em;
    height: 4em;
    margin: 0 ;
    text-align: center;
    background-image: url('img/iconehum.jpg');
    background-size: 2em;
    background-repeat: no-repeat;
    background-position-y: 1em;
    background-position-x: 1em;
}