body {
    margin-top: 8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    text-align: center;
    background-image: url('img/font.jpg');
    background-size: cover;
    background-repeat: repeat; 
}

#info-meteo {
    margin-top: 20px;
    font-size: 18px;
}

#icone {
    margin-top: 20px;
}

#temperature {
    margin-top: 20px;
    font-size: 18px;
}

#loc {
    margin-top: 20px;
    font-size: 18px;
    
}

#ressenti{
    margin-top: 20px;
    font-size: 18px;
}

#humide{
    margin-top: 20px;
    font-size: 18px;
}

.cadretitre{
    border: 2px solid #333;
    border-width: 0px 0px 2px 0px;
}



.petitcadre{

    display: flex;
    margin-top: 2em;
}

.cadre1{
    border: 4px solid #333;
    border-radius: 5%;
    width: 20em;
    margin: 0 auto;
    text-align: center;
}

.cadre2{
    display: flex;
    border: 2px solid #333;
    border-width: 4px 2px 0px 0px;
    width: 10em;
    height: 4em;
    text-align: center;
    align-items: center;
}

.cadre3{
    display: flex;
    border: 2px solid #333;
    
    border-width: 4px 0px 0px 2px;
    width: 10em;
    height: 4em;
    text-align: center;
    align-items: center;
    
}

#cadre4{
    display: inline-block;
    border: 0px  ;
    width: 10em;
    height: 4em;
    text-align: center;
} 

#cadre5{
    display: inline-block;
    border: 0px  ;
    width: 10em;
    height: 4em;
    margin: auto ;
    text-align: center;
    margin-top: 1em;
} 

.icone1{
    display: inline-block; 
}

.icone2{
    display: inline-block;
    margin-left: 1em;
}

.icone3{
    display: inline-block;

}

.icone4{
    display: inline-block;
    margin-left: 2em;
}

.texte{
    display: inline-block;
    margin-left: 1em;
    margin-bottom: 1em;
}

.texte1{
    display: inline-block;
}

.texte2{
    display: inline-block;
    margin-left: 1em;
    margin-bottom: 1em;
}

